<template name="serialUnclaimed">
  <div class="row">
    <div class="col s12">
      <div class="card {{cardColor}}">
        <div class="card-content center-align">
          {{> Template.dynamic template=view data=data}}
        </div>
      </div>
    </div>
  </div>
</template>

<template name="serialUnclaimedPrompting">
    <span class="card-title">Unclaimed Serial</span>
    <p class='flow-text'>Nobody else has registered this serial</p>
    <div class="section">
      <a href="#" class="register-serial orange darken-3 btn btn-large">Register</a>
    </div>
</template>

<template name="serialUnclaimedError">
  <h3>Error</h3>
  <p>There was a problem communicating with the server</p>
  <div class='section'>
    <a href="#" class="retry-registration btn btn-large">Try again...</a>
  </div>
</template>

<template name="serialUnclaimedPosting">
  {{> spinner}}
</template>

<template name="serialUnclaimedPolling">
  <h3>Transaction Pending</h3>
  {{> spinner}}
  {{#if error}}
    <p>{{error}}</p>
    <p>Reterying...</p>
  {{/if}}
</template>

<template name="serialUnclaimedRegistered">
  <h3>Success!</h3>
  <p class='flow-text'>Transaction Block: <b>{{txData.blockNumber}}</b></p>
  <div class="section">
    <div class="row">
      <div class="col s12">
        <p>Please make a note of your public and private keys.</p>
        <div class="section">
          <a href="{{downloadKeysUri}}" download="private_keys.txt" class='btn pink accent-2 btn-large'>Download Backup Keys</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <h5>Ethereum Address</h5>
        <p class='break-word'>{{address}}</p>
      </div>
      <div class="col s4">
        <h5>Address Key</h5>
        <p class='break-word'>{{addressKey}}</p>
      </div>
      <div class="col s4">
        <h5>Transfer Key</h5>
        <p class='break-word'>{{transferKey}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        {{> renderQR address}}
      </div>
      <div class="col s4">
        {{> renderQR addressKey}}
      </div>
      <div class="col s4">
        {{> renderQR transferUrl}}
      </div>
    </div>
    <div class="row">
      <p>To transfer this serial, pelase visit:
      <br>
        <a class='break-word' href="{{transferUrl}}">{{transferUrl}}</a>
      </p>
    </div>
  </div>
</template>
