<template name="serialUnclaimed">
    <div class="row">
      <div class="col s12">
        <div class="card {{cardColor}}">
          <div class="card-content center-align">
            {{#unless registering}}
              <span class="card-title">Unclaimed Serial</span>
              <p class='flow-text'>Noody else has registered this serial</p>
              <div class="section">
                <a href="#" class="register-serial orange darken-3 btn btn-large">Register</a>
              </div>
            {{else}}
              {{> Template.dynamic template=view data=data}}
              <div class="row">
                <div class="col s12">
                  <p>Please make a note of your public and private keys</p>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  {{#if publicKey}}
                    <h5>Ethereum Address</h5>
                    <p class='break-word'>{{publicKey}}</p>
                  {{/if}}
                </div>
                <div class="col s6">
                  {{#if privateKey}}
                    <h5>Private Key</h5>
                    <p class='break-word'>{{privateKey}}</p>
                  {{/if}}
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  {{#if publicKey}}
                    {{> renderQR publicKey}}
                  {{/if}}
                </div>
                <div class="col s6">
                  {{#if privateKey}}
                    {{> renderQR privateKey}}
                  {{/if}}
                </div>
              </div>
            {{/unless}}
          </div>
        </div>
      </div>
    </div>
</template>

<template name="serialUnclaimedError">
  <h3>Error</h3>
  <a href="#" class="retry-registration">Try again...</a>
</template>

<template name="serialUnclaimedPosting">
  <h3>Posting...</h3>
</template>

<template name="serialUnclaimedPolling">

  {{#if error}}
    <p>{{error}}</p>
  {{/if}}
</template>

<template name="serialUnclaimedRegistered">
  <h3>Success!</h3>
  <p>Transaction Block: {{blockNumber}}</p>
</template>
